<ion-view view-title="Ended Items" class="shop-sale-view">
    <ion-content>
        <ion-refresher on-refresh="doRefreshEnded()"></ion-refresher>
        <div class="row shop-products-narrow-cards-outer">
            <div ng-repeat="product in ended_products" class="col col-50 shop-product-narrow-card" ui-sref="app.product-detail({productId: product.post_info.ID})">
                <div class="list card">
                    <div class="item item-image">
                        <pre-img ratio="_1_1" helper-class="main-image">
                          <img ng-src="{{product.post_meta['thumbnail_url']}}" spinner-on-load>
                        </pre-img>
                    </div>
                    <div class="item item-body">
                        <h2 class="card-title">{{product.post_info.post_title}}</h2>
                        <p class="card-description"><b>${{product.post_meta['meta-price'].meta_value}}</b> -
                           {{product.post_info.post_content | limitTo : 20}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <ion-infinite-scroll ng-if="!hasEnded" on-infinite="loadMoreEnded()" distance="2%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
