// Modal
$modal-bg: #fcfcfc;

// Welcome
$welcome-bg: #fcfcfc;
$welcome-color: #FFFFFF;
$welcome-create-account-bg: $theme-color-2;
$welcome-create-account-color: #FFFFFF;
$welcome-facebook-sign-in-color: #FFFFFF;
$welcome-facebook-sign-in-bg: $theme-color-1;

// Auth
$error-color: $theme-color-2;
$auth-bg: #fcfcfc;
$auth-color: #333333;
$facebook-blue: #294886;
$twitter-blue: #00a3dc;
$separator-mark-width: 70px;
$separator-mark-height: 30px;
