// THEME 1
// $theme-color-1: #4EBABA;
// $theme-color-2: #FF4C4C;
// $theme-color-3: #79D279;
// $theme-color-4: #FF9D4C;

// THEME 2
// $theme-color-1: #9F3BA2;
// $theme-color-2: #FEAF40;
// $theme-color-3: #DD4F7C;
// $theme-color-4: #93DE50;

// THEME 3
$theme-color-1: #3E454C;
$theme-color-2: #2185C5;
$theme-color-3: #3E454C;
$theme-color-4: #79D279;
